.total {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 270px;
  height: 110px;
  padding: 20px;
  background: white;
  border-radius: 3px;
  min-width: 350px;
}

.total > h2 {
  font-weight: 400;
}

.total__p {
  font-size: 20px;
  font-weight: 450;
  color: rgb(72, 77, 77);
}

.total > button:active {
  background-color: unset;
  border: 1px solid #ffd814;
}

@media (max-width: 800px) {
  .total {
    width: unset;
    text-align: center;
  }
}

@media (max-width: 900px) {
  .total {
    min-width: unset;
  }
}
