.home {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 1500px;
}

.home__row {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px;
  width: 95%;
  margin: 0 auto;
  z-index: 1;
}

.home__row > div:nth-child(1) {
  grid-column: 1 / span 3;
}

.home__row > div:nth-child(2) {
  grid-column: 4 / span 3;
}

.home__row > div:nth-child(3) {
  grid-column: 1 / span 2;
}

.home__row > div:nth-child(4) {
  grid-column: 3 / span 2;
}

.home__row > div:nth-child(5) {
  grid-column: 5 / span 2;
}

.home__row > div:nth-child(6) {
  grid-column: span 6;
}

.shopping-cart {
  background-color: black;
  position: relative;
  padding: 25px;
  border-radius: 100px;
  position: fixed;
  bottom: 40px;
  right: 10%;
  z-index: 1;
}

.shopping-cart:active {
  box-shadow: 0 4px 4px gray;
}

#cartIcon {
  color: white;
}

.shopping-cart > p {
  position: absolute;
  top: 0;
  right: 0;
  background-color: red;
  padding: 4px 8px;
  color: white;
  border-radius: 50px;
}

@media (max-width: 768px) {
  .home__row > div:nth-child(3) {
    grid-column: 1 / span 3;
  }

  .home__row > div:nth-child(4) {
    grid-column: span 3;
  }

  .home__row > div:nth-child(5) {
    grid-column: 1 / span 3;
  }

  .home__row > div:nth-child(6) {
    grid-column: span 3;
  }
}

@media (max-width: 600px) {
  .home__row {
    display: unset;
  }
}
